@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #dffffe;
  z-index: 0;
}

/*Pokemon background*/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  filter: blur(220px);
  background:
    radial-gradient(circle at 10% 20%, #bcf0ff 30%, transparent 10%),
    radial-gradient(circle at 100% 30%, #fee3a8 20%, transparent 15%),
    radial-gradient(circle at 100% 100%, #7288fe 30%, transparent 10%),
    radial-gradient(circle at 0% 100%, #ffaffe 40%, transparent 5%);
  background-repeat: no-repeat;
  background-size: cover;
}
